{% extends 'base.html' %}{% load static %} 
<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	{% block genre %}{% endblock %}
	{% block content %}
	<h1>{{ affiche_rechercher.titre_affiche }}</h1>
	<p>{{ affiche_rechercher.description }}</p>
	<img src="{{ affiche_rechercher.lien_image }}" alt=" image {{ affiche_rechercher.titre_affiche }}">
	{% endblock %}
</body>
</html>