{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
	{% block genre %}{% endblock %}
	{% block content %}
	<h1>Jeux rechercher : {{query}}</h1>
	<div class="affiche_container">
		{% for jeux in jeux_rechercher %}
			<div class="affiche">
				<a href="{% url 'affiche_detail' jeux.titre_affiche %}">
					<h2>{{ jeux.titre_affiche }}</h2>
					<p>{{ jeux.plateforme }}</p>
					<img class="img_affiche" src="{{ jeux.lien_image }}" alt="{{jeux.titre_affiche}}">
				</a>
				<span>{{ jeux.prix }}</span>
			</div>
		{% endfor %}
	</div>
	{% endblock %}
</body>
</html>