{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	{% block titre %}
	<title>CreSword Game</title>
	{% endblock %}
</head>
<body>

	{% block genre %}{% endblock %}

	{% block content %}
	<div class="menu_content">
		<h1>Hello World</h1>
		<div class="container">
			<div class="affiche_container">
				{% for affiche in affiches %}
				<div class="affiche">
					{% if affiche.template == 'Menu' %}
						<a href="{% url 'affiche_detail' affiche.titre_affiche %}">
							<h2>{{ affiche.titre_affiche }}</h2>
							<p>{{ affiche.plateforme }}</p>
							<img class="img_affiche" src="{{ affiche.lien_image }}" alt="{{affiche.titre_affiche}}">
						</a>
						<span>{{ affiche.prix }}</span>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}

</body>

</html>