{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Projet Python</title>

</head>
<body>

<!-- As a heading -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Facilité vous la vie étudiante.re</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://emploidutemps.univ-reunion.fr/">Emploi du temps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://moodle-central.univ-reunion.fr">Moodle</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="https://www.univ-reunion.fr/">Site Officiel</a>
        </li>
      </ul>
      <span class="navbar-text">

      </span>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
        crossorigin="anonymous"></script>

        <div class="container">
<div class="row">
    <div class="col">

 <p><h6> Bienvenue à tous sur notre site !</h6></p>
    <p> Pour notre projet Python, nous avons décidé de créer une "version 2.0" du site de l'Université de la Réunion. Pour cela nous avons "fusionné" l'ENT et le site officiel de la FAC.</p>
    <p> Sur notre site vous pouvez donc avoir accès à l'emploi du temps, au moodle, voir les actualités concernant l'Université, etc...</p>
    <p> En espérant qu'il vous plaira. On vous laisse maintenant le découvrir dans son intégralité.</p>
<div class="container">

<div class="row">
<span class="border border-dark"></span>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.univ-reunion.fr/fileadmin/_processed_/4/1/csm_18753_4be2455878.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Alerte COVID-19</h5>
          <p>Pour en savoir plus à ce sujet cliquez <a href="https://www.univ-reunion.fr/actualites-de-luniversite/covid-19-mise-en-oeuvre-de-la-mesure-de-couvre-feu">ici</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.univ-reunion.fr/fileadmin/_processed_/5/6/csm_Simulateur-d_aide-vignettes-RS-04-1200x630_2a59c502e1.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>À chacun sa solution.</h5>
        <p>Pour en savoir plus à ce sujet cliquer <a href="https://www.1jeune1solution.gouv.fr/">ici</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.univ-reunion.fr/fileadmin/_processed_/1/4/csm_Conc_video_5cf4d102af.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>RAYONNEZ RÉNYONÉ</h5>
        <p>Pour en savoir plus à ce sujet cliquer <a href="https://www.univ-reunion.fr/international/actualites/concours-video-rayonnez-renyone-2020-2021">ici</a></p></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<span class="border border-dark"></span>
    <div class="container">
<div class="row">
    <p class="col">

    <h4>Informations à propos de l'Université de la Réunion:</h4>

  <div class="container">
<div class="row">
    <div class="col">


<p>L'Université de La Réunion a été créée en 1982. Elle n'a cessé de croître au fil des années, tant en termes de propulation étudiante, de  sites géographiques occupés que de formations proposées, de partenariats tissés avec les institutions locales, nationales et internationales. Cette nécessité de s'implanter au sein de nouveaux espaces et de créer du lien fait écho à une ambition forte : être l'université de référence de l'Indianocéanie.</p>

        <p>Établissement de formation plusriidsciplinaire, véritable pilier de l'écosystème de formation et de rechercher local, l'Université de La Réunion accueille plus 17 000 étudiants par an, soir les trois quarts des étudiants du supérieur de La Réunion.</p>

<p>L'Université de La Réunion occupe une place unique: il s'agit de la seule université réunionnaise de l'Indianocéanies. Ce positionnement au coeur de l'axe Afrique-Asie lui confère un rôle majeur d'ambassadrice de l'Enseignement Supérieur de la Recherche et de l'Innovation françauis dans la zone.</p>

        <p><h6>Sur l'île, l'Université est implantée sur 7 sites :</h6></p>

<p>Au nord : Bellepierre, Victoire, Moufia, Technopole</p>

<p>À l'ouest : Maïdo</p>

  <p> Au sud : Terre Sainte, Le Tampon</p>

     <div class="container">
<div class="row">
    <div class="col">

        <h4> Actualités et dates importantes:</h4>

         <div class="container">
<div class="row">
    <div class="col">


      <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
        <span class="border border-dark"></span>
      <img src="https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243__340.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Inscription 2021-2022</h5>
        <p class="card-text">Vous pouvez accèder aux procédures d'inscriptions en cliquant juste en dessous.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><a href="https://www.univ-reunion.fr/scolarite/inscriptions" class="btn btn-secondary">Savoir plus</a></small>
      </div>
    <span class="border border-dark"></span>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <span class="border border-dark"></span>
      <img src="https://www.univ-reunion.fr/fileadmin/_processed_/f/8/csm_bp3qmlzn6vrpmw7pl04lpeis7ass06ev_1e0b7db39a.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Expo: Ilse Aichinger</h5>
        <p class="card-text">Du 27 avril au 16 juillet, venez découvrir l'exposition proposée et conçue par Sandie Attia.</p>
      </div>
      <div class="card-footer">
          <small class="text-muted"><a href="https://www.univ-reunion.fr/actu-panka/expo-ilse-aichinger" class="btn btn-secondary">Savoir plus</a></small>
      </div>
    <span class="border border-dark"></span>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <span class="border border-dark"></span>
      <img src="https://www.univ-reunion.fr/fileadmin/Fichiers/communication/2_Actu___agenda/00-2020-2021/MOOC/porhhbmddcebnykn92dvvdq5pzstoasu.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Session 3 du MOOC: maîtriser le Shell Bash</h5>
        <p class="card-text">Intéressé(e)s ? Pour le programme, les détails et la vidéo de présentation, cliquer sur en savoir plus.</p>
      </div>
      <div class="card-footer">
          <small class="text-muted"><a href="https://www.univ-reunion.fr/actu-panka/expo-ilse-aichinger" class="btn btn-secondary">Savoir plus</a></small>
      </div>
    <span class="border border-dark"></span>
    </div>
  </div>
</div>

</body>
</html>