{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
    {% for x in projet %}
   
        <div class="col">
            <div class="card" style="width: 18rem;">
                 <span class="border border-dark"></span>
                <img src="{{x.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{x.titre}}</h5>
                    <p class="card-text">{{x.description}}</p>
                </div>
                 <span class="border border-dark"></span>
            </div>
        </div>

    {% endfor %}
        </div>
</div>

{% endblock %}