.menu_content {
	/*border: solid red;*/
	width: auto;
	height: auto;
}
.footer {
	/*border: blue solid;*/
	width: auto;
	height: 150px;
	
	background-color: rgb(38,38,38);
	color: white;
	text-align: center;
	
}

.affiche_container {
	display: grid;
	border: solid;
	margin-right: 10%;
	margin-left: 10%;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: auto;
	grid-gap: 2%;
	
}
.affiche {
	flex: 1 1;
	background-color: grey;
	border-radius: 15px;
	text-align: center;
	
}
.affiche a {
	text-decoration: none;
	color: black;
	display: block;
}

.border {
	width: auto;
}
.img_affiche {
	width: 160px;
	height: 250px;
	border-radius: 15px;

}
.titre {
	width: 100%;
	text-align: center;
	font-size: 150%;
}
.div_genres {
	border: solid red;
	height: auto;
	margin: 0;
	padding: 0;
	width: 	100%;
}
.btn_Genre {
	width: 25%;
	text-align: center;
	padding: 0;
}
.btn_Genre span {
	border: solid 1px;
	font-size: 120%;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 8px;
}
.listGenre {
	display: block;
	border: solid 1px blue;
	width: 150px;
	text-align: center;
	background-color: rgb(38,38,38);
}
.listGenre ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}
.listGenre a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 10px 0 10px;
}
.listGenre a:hover {
	color: black;
	background-color: rgb(255,255,255,.8);
}


@media screen and (max-width: 860px){
	.affiche_container {
		/*margin-right: 1%;
		margin-left: 1%;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-gap: 1%;*/
		display: block;
	}

}
