div #Action, div#Aventure, div #Combat, div #Coopération, div #Course, div #Exploration, div #Free-to-play, div #Gestion, div #MMO, div #Multijoueur, div #Plates-forme, div #RPG, div #Shooter, div #Simulation, div #Solo, div #Sport, div #Stratégie, div #Horreur, div #Survie {
	display: none;
}

#Action:target {
	display: grid;
}
#Aventure:target {
	display: grid;
}
#Combat:target {
	display: grid;
}
#Coopération:target {
	display: grid;
}
#Course:target {
	display: grid;
}
#Exploration:target {
	display: grid;
}
#Free-to-play:target {
	display: grid;
}
#Gestion:target {
	display: grid;
}
#MMO:target {
	display: grid;
}
#Multijoueur:target {
	display: grid;
}
#Plates-forme:target {
	display: grid;
}
#RPG:target {
	display: grid;
}
#Shooter:target {
	display: grid;
}
#Simulation:target {
	display: grid;
}
#Solo:target {
	display: grid;
}
#Sport:target {
	display: grid;
}
#Stratégie:target {
	display: grid;
}
#Horreur:target {
	display: grid;
}
#Survie:target {
	display: grid;
}