html, body {
	font-family: sans-serif;
	margin: 0;
	width: 100%;
	
}
/*.TopNav {
	position: fixed;
	width: 100%;
	top: 0;
}*/
.banner {
	background-color: rgb(38,38,38);
	display: flex;
	color: white;

}

.btn {
	background-color: rgb(38,38,38);
	height: 60px;
	cursor: pointer;
	overflow: hidden;
	margin-top: 2px;
}

.empty {
	width: 5px;
}

.siteName {
	width: 100%;
	display: flex;
	cursor: pointer;
	margin-top: auto;
	margin-bottom: auto;
}
.siteName a {
	display: flex;
	text-decoration: none;
	color: white;
}
.logo {
	height: 45px;
}
.siteName h1 {
	font-size: 110%;
	text-align: center;
	padding-top: 4px;
}

.srcbar {
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
}
.empty2 {
	width: 100%;
}
.empty3 {
	width: 100%;
}
.srcbar2 {
	/*border: solid red;*/
	margin-left: auto;
	margin-right: auto;
}
#searchbar {
	width: 98%;
	height: 26px ;
	border: solid;
  	border-radius: 18px;
  	font-size: 100%;
  	background-color: transparent;
  	color: white;
}
#searchbar2 {
  	padding: 5px 10px 5px 8px;
  	margin-top: 10px;
  	border: solid;
  	border-radius: 15px;
  	font-size: 85%;
  	background-color: transparent;
  	color: #F2F2F2;
}

.menu {
	position: absolute;
	/*border: solid red;*/
	width: 200px;
	height: auto;
	background-color: rgb(38,38,38);
}
.menu ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
.menu a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;	
	padding: 10px 0px 10px;
}
.menu a:hover{
	color: black;
	background-color: white;
}
.nav {
	margin-left: -200px;
	transition-duration: 0.5s;
}
.nav_open {
	margin-left: 0px;
	transition-duration: 0.7s;
}


.list_plateforms {
	background-color: black;
	display: flex;
	width: 100%;
}
.list_plateforms a {
	text-decoration: none;
	display: flex;
	padding: 5px 20px;
	color: white;
}
.list_plateforms a:hover {
	background-color: rgb(38,38,38);
}
.All {background-color: rgb(38,38,38);}
.list_plateforms img {
	height: 35px;
}
.list_plateforms span {
	padding: 9px 0;
}


@media screen and (max-width: 720px){
	.srcbar {
		display: none;
	}
	.empty2 {
		display: none;
	}
	
}

@media screen and (min-width: 720px){
	.srcbar2 {
		display: none;
	}
}

@media screen and (max-width: 480px){
	.empty3 {display: none;}

	.list_plateforms {
		display: block;
	}
	.list_plateforms a {
		justify-content: center;
	}


}