{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/listeGenre.css' %}">
	{% endblock %}
</head>

<body>
	{% block content %}

	<div class="div_genres" style="display: block;">
		<dir class="btn_Genre">
			<span>Genres</span>
		</dir>
		<div class='listGenre' id='LG'>
			<ul>
				<li><a href="">Tout les genres</a></li>
				{% for genre in genres %}
				<li><a href="#{{ genre.titre_genre }}" onclick="document.getElementById('All').style.display='none';return true;">{{ genre.titre_genre }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>


	<h1>{{ plateform_rechercher.titre_plateform }}</h1>

	<div class="container">
			<div class="affiche_container" id="All">
				{% for affiche in affiches %}

				{% if affiche.plateforme == plateform_rechercher.titre_plateform %}
				<div class="affiche" >
					<a href="{% url 'affiche_detail' affiche.titre_affiche %}">
						<h2>{{ affiche.titre_affiche }}</h2>
						<p>{{ affiche.plateforme }}</p>
						<img class="img_affiche" src="{{ affiche.lien_image }}" alt="{{affiche.titre_affiche}}">
					</a>
					<span>{{ affiche.prix }}</span>
				</div>
				{% endif %}

				{% if plateform_rechercher.titre_plateform == 'All' %}
				<div class="affiche" >
					<a href="{% url 'affiche_detail' affiche.titre_affiche %}">
						<h2>{{ affiche.titre_affiche }}</h2>
						<p>{{ affiche.plateforme }}</p>
						<img class="img_affiche" src="{{ affiche.lien_image }}" alt="{{affiche.titre_affiche}}">
					</a>
					<span>{{ affiche.prix }}</span>
				</div>

				{% endif %}

				{% if plateform_rechercher.titre_plateform == 'Playstation' %}
				{% if affiche.plateforme == 'Ps4' %}
				<div class="affiche">
					<a href="{% url 'affiche_detail' affiche.titre_affiche %}">
						<h2>{{ affiche.titre_affiche }}</h2>
						<p>{{ affiche.plateforme }}</p>
						<img class="img_affiche" src="{{ affiche.lien_image }}" alt="{{affiche.titre_affiche}}">
					</a>
					<span>{{ affiche.prix }}</span>
				</div>
				{% endif %}
				{% endif %}

				{% endfor %}
			</div>

			{% for genre in genres %}
			<div class="affiche_container" id="{{ genre.titre_genre }}">
				{% for affiche in affiches %}

					{% if affiche.plateforme == plateform_rechercher.titre_plateform %}
						{% if affiche.categorie1 == genre.titre_genre or affiche.categorie2 == genre.titre_genre or affiche.categorie3 == genre.titre_genre or affiche.categorie4 == genre.titre_genre or affiche.categorie5 == genre.titre_genre or affiche.categorie6 == genre.titre_genre %}
							<div class="affiche">
								<a href="{% url 'affiche_detail' affiche.titre_affiche %}">
									<h2>{{ affiche.titre_affiche }}</h2>
									<p>{{ affiche.plateforme }}</p>
									<img class="img_affiche" src="{{ affiche.lien_image }}" alt="{{affiche.titre_affiche}}">
								</a>
								<span>{{ affiche.prix }}</span>
							</div>
						{% endif %}
					{% endif %}

					{% if plateform_rechercher.titre_plateform == 'All' %}
						{% if affiche.categorie1 == genre.titre_genre or affiche.categorie2 == genre.titre_genre or affiche.categorie3 == genre.titre_genre or affiche.categorie4 == genre.titre_genre or affiche.categorie5 == genre.titre_genre or affiche.categorie6 == genre.titre_genre %}
							<div class="affiche">
								<a href="{% url 'affiche_detail' affiche.titre_affiche %}">
									<h2>{{ affiche.titre_affiche }}</h2>
									<p>{{ affiche.plateforme }}</p>
									<img class="img_affiche" src="{{ affiche.lien_image }}" alt="{{affiche.titre_affiche}}">
								</a>
								<span>{{ affiche.prix }}</span>
							</div>
						{% endif %}
					{% endif %}

					{% if plateform_rechercher.titre_plateform == 'Playstation' %}
					{% if affiche.plateforme == 'Ps4' %}
						{% if affiche.categorie1 == genre.titre_genre or affiche.categorie2 == genre.titre_genre or affiche.categorie3 == genre.titre_genre or affiche.categorie4 == genre.titre_genre or affiche.categorie5 == genre.titre_genre or affiche.categorie6 == genre.titre_genre %}
							<div class="affiche">
								<a href="{% url 'affiche_detail' affiche.titre_affiche %}">
									<h2>{{ affiche.titre_affiche }}</h2>
									<p>{{ affiche.plateforme }}</p>
									<img class="img_affiche" src="{{ affiche.lien_image }}" alt="{{affiche.titre_affiche}}">
								</a>
								<span>{{ affiche.prix }}</span>
							</div>
						{% endif %}
					{% endif %}
					{% endif %}
					
				{% endfor %}
			</div>
			{% endfor %}
	</div>

	{% endblock %}
</body>
</html>