{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block meta %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock %}
	{% block titre %}{% endblock %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}">
	{% endblock %}
</head>
<body>

	<div class="TopNav">
		<div class="banner">
			<div>
				<img class="btn" src="{% static 'img/bouton.png' %}">
			</div>
			<div class="empty"></div>
			<div class="siteName">
				<a href="/">
					<img class="logo" src="{% static 'img/logo.png' %}" alt="logo" >
					<h1>CreSword Game</h1>
				</a>
				
			</div>
			<div class="srcbar">
				<form action="{% url 'search' %}">
					<input id="searchbar" type="search" placeholder="Rechercher..." name="Jeux">	
				</form>
			</div>
			<div class="empty2"></div>
				

		</div>
		<div class='menu nav'>
			<ul>
				<li>
					<div class="srcbar2">
						<form action="{% url 'search' %}">
							<input id="searchbar2" type="text" placeholder="Rechercher..." name="Jeux">	
						</form>
					</div>
				</li>
				{% for titre in titres %}
				<li>
					<a href="/{{ titre.liens }}">{{ titre.titre_menu }}</a>
				</li>
				{% endfor %}
			</ul>

		</div>
		
		<div class="list_plateforms">
			<div class="empty3"></div>
			<div class="All">
				<a href="/plateform/All">
					<span>All</span>
				</a>
			</div>
			<div>
				<a href="/plateform/PC">
					<img src="{% static 'img/pc_icon.png' %}">
					<span>PC</span>
				</a>
			</div>
			<div>
				<a href="/plateform/Playstation">
					<img src="{% static 'img/playstation_icon.png' %}">
					<span>Playstation</span>					
				</a>
			</div>
			<div>
				<a href="/plateform/Xbox">
					<img src="{% static 'img/xbox_icon.png' %}">
					<span>Xbox</span>
				</a>
			</div>
			<div class="empty3"></div>
		</div>

	{% block content %}{% endblock %}

	{% block foot %}
	<footer class="footer">
		<div>
			<h1>Bas de page</h1>
		</div>
	</footer>
	{% endblock %}

	<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
	
</body>
</html>